html, body{
    height: 100%;
}
#logo{
    height: 50px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid gray;
}

#logo div{
    float: left;
    text-align: center;
    width: 33%;
    position: relative;
    top:50%;
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: underline;
}

#CategoryLayout{
    width:200px;
    position: relative;
    float: left;
}
#CategoryLayout table{
    width: 200px;
    border-collapse: collapse;
    border: 1px solid #fff;
}
.Category{
    background: #ffb555;
    border: 1px solid gray;
}
.Category:hover{
    cursor: pointer;
    text-decoration: underline;
}
.SubCategory{
    background: #dfc6ff;
    border: 1px solid gray;
}
.SubCategory td{
    width: 200px;
    border: 1px solid #000;
}
.SubCategory td:hover{
    cursor: pointer;
    text-decoration: underline;
}

#Layout{
    float: left;
}

#Layout table{
    width: 150px;
    border-collapse: collapse;
}
