#main {
    width: 1260px;
    margin: auto;
}

.SpaceDiv {
    width: 1260px;
    height: 200px;
    border: 1px solid gray;
    float: left;
}

.SpaceDiv img {
    height: 200px;
}


.Img {
    width: 250px;
}
