#main{
    text-align: center;
    width: 1260px;
    margin: auto;
    text-align: center;
}
.SpaceDiv{
    width: 250px;
    height: 400px;
    border: 1px solid gray;
    float: left;
}
.Text{
    width: 70%;
    margin: auto;
}
.Img{
    width: 250px;
}
.Img img{
    margin: auto;
    width: 250px;
}