#Layout{
    width: 150px;
    text-align: center;
}
#Layout table{
    width: 150px;
    border-collapse: collapse;
}
#Layout table th{
    background: #ffb555;
    border: 1px solid gray;
}
#Layout table td{
    background: #dfc6ff;
    border: 1px solid gray;
}